<div>
    <div class="about"> 
    <img src="../../assets/chatgpt.jpg">
</div>
    <h1>Here is about our ChatBot</h1>
    <ul class="text">
      <li>Get accurate and personalized responses to all your medical questions, from symptoms to treatments and general health information.</li>
      <li> Our advanced technology and expert insights empower you to make informed decisions, bridge the gap between you and healthcare knowledge, and transform your health journey.</li>
      <li>Experience a new era of care where knowledge meets convenience and take charge of your well-being today.</li>
    </ul>
</div>

